.online-learning-icon {
  width: 62px;
  height: 62px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.learning-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.courses,
.details-icons {
  position: relative;
  display: inline-block;
}
.details-icons {
  line-height: 40px;
  font-weight: 500;
  min-width: 49px;
}
.courses {
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-family: var(--font-dm-sans);
  color: var(--woodsmoke-500);
  min-width: 92px;
}
.category-details {
  flex-direction: column;
  gap: var(--gap-11xs);
}
.category-details,
.learning-content,
.learning-elements {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.learning-content {
  flex-direction: row;
  gap: var(--gap-xs);
}
.learning-elements {
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--eminence-700);
  font-family: var(--tutedude-typography-body-small);
}
@media screen and (max-width: 750px) {
  .details-icons {
    font-size: var(--font-size-13xl);
    line-height: 32px;
  }
}
@media screen and (max-width: 450px) {
  .details-icons {
    font-size: var(--font-size-5xl);
    line-height: 24px;
  }
  .courses {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
}
