@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Thesignature:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --tutedude-typography-body-small: Poppins;
  --font-thesignature: Thesignature;
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --tutedude-typography-label-medium-size: 20px;
  --tutedude-typography-body-small-size: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-13xl: 32px;
  --tutedude-typography-heading-large-size: 48px;
  --tutedude-typography-heading-small-size: 28px;
  --font-size-7xs-2: 5.2px;
  --font-size-8xs-1: 4.1px;
  --font-size-6xs-2: 6.2px;
  --font-size-base-6: 16.6px;
  --font-size-xl-7: 20.7px;
  --font-size-mid: 17px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --tutedude-typography-label-small-2-size: 14px;
  --font-size-21xl: 40px;
  --tutedude-typography-title-small-size: 36px;
  --tutedude-typography-body-small-3-size: 12px;
  --font-size-9xs-5: 3.5px;
  --font-size-10xs-3: 2.3px;
  --font-size-3xs-3: 9.3px;
  --font-size-xs-7: 11.7px;
  --font-size-10xs-9: 2.9px;

  /* Colors */
  --color-white: #fff;
  --woodsmoke-400: #83848d;
  --woodsmoke-950: #1b1b1d;
  --color-gray-100: rgba(255, 255, 255, 0.15);
  --color-gray-200: rgba(255, 255, 255, 0.7);
  --eminence-50: #fcf5fe;
  --color-ghostwhite-100: rgba(252, 245, 254, 0.3);
  --eminence-200: #f4d6f8;
  --tutedude-color-primary-20: #e9d3e9;
  --color-thistle-100: #e0d1e3;
  --color-thistle-200: #dbbdde;
  --color-plum: #ecb5f2;
  --color-blueviolet: #7530e4;
  --woodsmoke-500: #686972;
  --color-dimgray-100: #595961;
  --tutedude-color-neutral-grey-100: #585858;
  --color-dimgray-200: #4f4f4f;
  --woodsmoke-700: #4c4d52;
  --web-orange-50: #fffcea;
  --web-orange-100: #fff4c5;
  --web-orange-950: #481900;
  --eminence-100: #f9ebfc;
  --color-lavender-100: #e3dbe6;
  --eminence-700: #992e9d;
  --tutedude-color-neutral-20-75: #697781;
  --tutedude-color-neutral-20-50: #9ba4ab;
  --tutedude-color-neutral-20-100: #374957;
  --woodsmoke-800: #434347;
  --woodsmoke-900: #3b3b3e;
  --color-darkslategray-100: rgba(55, 73, 87, 0.1);
  --woodsmoke-100: #e5e5e8;
  --tutedude-color-neutral-20-20: #d7dbdd;
  --tutedude-color-primary-10: #f4e9f4;
  --woodsmoke-50: #f5f5f6;
  --color-whitesmoke-100: #ebedef;
  --tutedude-color-secondary-100: #ffa239;
  --web-orange-500: #ffa50b;
  --color-orange-100: rgba(255, 162, 57, 0.1);
  --color-crimson: #ff4755;
  --eminence-950: #450d45;
  --eminence-800: #7f2781;
  --web-orange-400: #ffc41b;
  --eminence-600: #b73bbe;
  --color-antiquewhite: #e6e3d1;
  --color-wheat: #e6dbab;
  --web-orange-700: #bb5302;
  --color-black: #000;
  --woodsmoke-200: #cfd0d2;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-45xl: 64px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-9xs: 4px;
  --gap-11xl-8: 30.8px;
  --gap-mini: 15px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-9xs-7: 3.7px;
  --gap-38xl-8: 57.8px;
  --gap-8xs-9: 4.9px;
  --gap-124xl-3: 143.3px;
  --gap-5xs-8: 7.8px;
  --gap-7xs-2: 5.2px;
  --gap-10xs-6: 2.6px;
  --gap-9xl: 28px;
  --gap-3xl: 22px;
  --gap-37xl: 56px;
  --gap-5xs: 8px;
  --gap-sm-3: 13.3px;
  --gap-11xs: 2px;
  --gap-2xl: 21px;
  --gap-lgi-8: 19.8px;
  --gap-409xl-5: 428.5px;
  --gap-35xl: 54px;
  --gap-88xl: 107px;
  --gap-195xl: 214px;
  --gap-lg: 18px;
  --gap-9xs-3: 3.3px;
  --gap-4xl-4: 23.4px;
  --gap-22xl-5: 41.5px;
  --gap-6xs-1: 6.1px;
  --gap-11xs-9: 1.9px;
  --gap-6xs-8: 6.8px;
  --gap-27xl-9: 46.9px;
  --gap-26xl-4: 45.4px;
  --gap-8xs-4: 4.4px;
  --gap-10xs-9: 2.9px;
  --gap-11xs-5: 1.5px;
  --gap-27xl: 46px;
  --gap-204xl: 223px;
  --gap-mid-5: 17.5px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-354xl: 373px;
  --padding-29xl: 48px;
  --padding-27xl: 46px;
  --padding-138xl: 157px;
  --padding-223xl: 242px;
  --padding-11xl: 30px;
  --padding-5xl: 24px;
  --padding-127xl: 146px;
  --padding-4xl: 23px;
  --padding-17xl: 36px;
  --padding-7xs: 6px;
  --padding-21xl: 40px;
  --padding-72xl: 91px;
  --padding-19xl: 38px;
  --padding-40xl: 59px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-30xl: 49px;
  --padding-30xl-5: 49.5px;
  --padding-8xl-7: 27.7px;
  --padding-3xs-4: 9.4px;
  --padding-17xl-5: 36.5px;
  --padding-15xl: 34px;
  --padding-16xl: 35px;
  --padding-3xl: 22px;
  --padding-13xl-5: 32.5px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-3xl-7: 22.7px;
  --padding-395xl-4: 414.4px;
  --padding-229xl-6: 248.6px;
  --padding-250xl: 269px;
  --padding-143xl: 162px;
  --padding-2xs: 11px;
  --padding-9xl-5: 28.5px;
  --padding-42xl: 61px;
  --padding-241xl-7: 260.7px;
  --padding-158xl-3: 177.3px;
  --padding-9xl: 28px;
  --padding-9xl-3: 28.3px;
  --padding-2xs-3: 10.3px;
  --padding-4xl-1: 23.1px;
  --padding-104xl-8: 123.8px;
  --padding-smi-1: 12.1px;
  --padding-15xl-1: 34.1px;
  --padding-8xl-5: 27.5px;
  --padding-lg: 18px;
  --padding-mid-7: 17.7px;
  --padding-mini: 15px;
  --padding-mini-6: 14.6px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-9xl-4: 28.4px;
  --padding-lg-4: 18.4px;
  --padding-160xl-4: 179.4px;
  --padding-27xl-5: 46.5px;
  --padding-72xl-5: 91.5px;
  --padding-87xl: 106px;
  --padding-26xl: 45px;
  --padding-50xl: 69px;
  --padding-lgi: 19px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-12xs: 1px;
  --padding-38xl: 57px;
  --padding-6xl: 25px;
  --padding-94xl: 113px;
  --padding-28xl: 47px;
  --padding-54xl: 73px;
  --padding-110xl: 129px;
  --padding-108xl: 127px;
  --padding-44xl: 63px;
  --padding-45xl: 64px;
  --padding-7xs-5: 5.5px;
  --padding-10xs: 3px;
  --padding-55xl-5: 74.5px;
  --padding-11xs: 2px;
  --padding-24xl: 43px;
  --padding-base-7: 15.7px;
  --padding-7xs-7: 5.7px;
  --padding-6xs: 7px;
  --padding-4xs: 9px;
  --padding-lgi-2: 19.2px;
  --padding-133xl-5: 152.5px;
  --padding-22xl-3: 41.3px;
  --padding-base-8: 15.8px;
  --padding-52xl-4: 71.4px;
  --padding-52xl: 71px;
  --padding-77xl-8: 96.8px;
  --padding-smi-4: 12.4px;
  --padding-smi: 13px;
  --padding-8xs-2: 4.2px;
  --padding-35xl: 54px;
  --padding-171xl-5: 190.5px;
  --padding-22xl-5: 41.5px;
  --padding-24xl-5: 43.5px;
  --padding-10xs-5: 2.5px;
  --padding-2xl-5: 21.5px;
  --padding-12xl: 31px;
  --padding-25xl: 44px;
  --padding-39xl: 58px;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-xl: 20px;
  --br-5xl: 24px;
  --br-13xl: 32px;
  --br-81xl: 100px;
  --br-2xs: 11px;
  --br-sm: 14px;
  --br-9xl: 28px;
  --br-981xl: 1000px;
  --br-base: 16px;
  --br-3xs: 10px;
  --br-6xs-2: 6.2px;
  --br-lg: 18px;
  --br-5xs: 8px;
  --br-xs: 12px;
}
